:root{
  --mainBrown:#2d1ef1;
  --mainYellow:#ff9e09;
  --mainGrey:#ece8dc;
  --mainWhite:#fff;
  --mainDark:#222;
}

*{
  margin:0;
  padding:0;

}

html{
  font-size:62.5%;
}
body{
  font-size:1.6rem;
  box-sizing: border-box;
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;

}

h1,h2,h3,h4,h5,h6{
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.35rem !important;
}

.text-yellow{
  color:var(--mainYellow);
}

.cart-icon{
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2.5rem;
}